.blocker-wrapper {
  padding: 20px;
  width: 100%;
}

.inner-app {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.chat-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 89vh;
  margin-top: 5px;
  width: 30%;
}

@media (max-width: 900px) {
  .inner-app {
    flex-flow: column;
  }

  .chat-wrapper {
    position: relative;
    width: 100%;
  }
}
